{{define "body"}}

<link rel="stylesheet" href="/checkout/checkout.css" />
<h3><p>Receipt Summary</p></h3>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form id="checkout-form">
        <div class="row">
          <div class="col-50">
            <h3>Payment Information</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input
              type="text"
              id="fname"
              name="firstname"
              placeholder="John M. Doe"
              value="{{.User.Username}}"
              disabled
            />
            <label for="adr"><i class="fa fa-phone"></i> Phone</label>
            <input
              type="text"
              id="phone"
              name="phone"
              placeholder="+84"
              value="{{.User.Phone}}"
            />
            <br />
            <span id="phone-error" style="color: rebeccapurple"></span>
            <label for="adr"
              ><i class="fa fa-address-card-o"></i> Address</label
            >
            <input
              type="text"
              id="adr"
              name="address"
              placeholder="542 W. 15th Street"
              value="{{.User.Address}}"
            />
            <span id="address-error" style="color: rebeccapurple"></span>
          </div>
        </div>
        <input
          type="submit"
          id="checkout-btn"
          value="Continue to checkout"
          style="background-color: black"
          class="btn"
        />
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container" id="container"></div>
  </div>
</div>
<script src="/checkout/checkout.js"></script>
{{end}}
