{{define "body"}}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Welcome to VTSHOP</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        With this shop hompeage template
      </p>
    </div>
  </div>
</header>
<div id="search-bar">
  <div class="dropdown">
    <button onclick="showCategories()" class="dropbtn">Category</button>
    <div id="categories-dropdown" class="dropdown-content"></div>
  </div>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Choose according</button>
    <div id="myDropdown" class="dropdown-content">
      <a class="sort-li" href="#" data-col="product_name" data-sort="DESC"
        >Decrease by name</a
      >
      <a class="sort-li" href="#" data-col="product_name" data-sort="ASC"
        >Increase by name</a
      >
      <a class="sort-li" href="#" data-col="price" data-sort="DESC"
        >Decrease by price</a
      >
      <a class="sort-li" href="#" data-col="price" data-sort="ASC"
        >Increase by price</a
      >
    </div>
  </div>
  <input
    type="text"
    placeholder="What are you looking for?"
    name="search"
    id="search-value"
  />
  <button id="search-btn" type="submit">
    <i class="fa fa-search"></i>
  </button>
  <br />
  <span class="text-warning" id="search-warning"></span>
</div>

<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      id="items-container"
    ></div>
  </div>
</section>

<!-- Pagination -->
<div class="be-wrapper">
  <div class="container">
    <div class="demo">
      <div id="page">
        <ul class="pagination"></ul>
      </div>
    </div>
  </div>
</div>

<script src="/home/script.js"></script>
{{end}}
