{{define "body"}}
<link rel="stylesheet" href="/userProfile/profile.css" />
<input type="hidden" id="current-id" value="{{.User.UserId}}" />
<section class="h-100 gradient-custom-2" id="info-container">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="background-color: #000; height: 200px"
            id="userinfo"
          ></div>
          <div class="p-4 text-black" style="background-color: #f8f9fa">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">253</p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">1026</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5">478</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa">
                <p style="font-weight: bold; font-size: 16px">Phone:</p>
                {{if eq .User.Phone ""}}
                <p class="font-italic mb-1">Not have yet</p>
                {{else}}
                <p class="font-italic mb-1">{{.User.Phone}}</p>
                {{end}}
                <br />
                <p style="font-weight: bold; font-size: 16px">Address:</p>
                {{if eq .User.Address ""}}
                <p class="font-italic mb-1">Not have yet</p>
                {{else}}
                <p class="font-italic mb-1">{{.User.Address}}</p>
                {{end}}
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0">
                <a href="#!" class="text-muted">Show all</a>
              </p>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                  alt="image 1"
                  class="w-100 rounded-3"
                />
              </div>
              <div class="col mb-2">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                  alt="image 1"
                  class="w-100 rounded-3"
                />
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                  alt="image 1"
                  class="w-100 rounded-3"
                />
              </div>
              <div class="col">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                  alt="image 1"
                  class="w-100 rounded-3"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="form-avatar"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Choose your avatar
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <form
            action="/api/users/avatar"
            method="post"
            enctype="multipart/form-data"
            id="change-avatar-form"
          >
            <input class="form-control" type="file" name="avatar" id="avatar" />
            <span id="avatar-error" class="text-danger"></span>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          id="change-avatar-save-btn"
          class="btn btn-primary"
          onclick="handlerChangeAvatar()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Update Information -->
<div
  class="modal fade"
  id="update-infomation-form"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Update Your Information
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <form id="info-form">
            <div class="mb-3">
              <label for="phone" class="form-label">Your Phone</label>
              <input type="text" class="form-control" id="phone" name="phone" />
              <span id="phone-error" class="text-danger"></span>
              <label for="phone" class="form-label">Your Address</label>
              <input
                type="text"
                class="form-control"
                id="address"
                name="address"
              />
              <span id="address-error" class="text-danger"></span>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          id="update-information-save-btn"
          class="btn btn-primary"
          onclick="handlerUpdateInfo(this)"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!--    ChangePass-->
<div
  class="modal fade"
  id="changePassword"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <form id="changepass-form">
            <div class="mb-3">
              <label for="oldpassword" class="form-label">Old Password</label>
              <input
                type="password"
                class="form-control"
                id="oldpassword"
                name="oldpassword"
              />
              <span id="old-password-error" class="text-danger"></span>
              <label for="newpassword" class="form-label">New Password</label>
              <input
                type="password"
                class="form-control"
                id="newpassword"
                name="newpassword"
              />
              <span id="new-password-error" class="text-danger"></span>
              <label for="cnewpassword" class="form-label"
                >Confirm New Password</label
              >
              <input
                type="password"
                class="form-control"
                id="cnewpassword"
                name="cnewpassword"
              />
              <span id="confirm-new-password-error" class="text-danger"></span>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          id="change-password-save-btn"
          class="btn btn-primary"
          onclick="handlerChangePassword()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<script src="/userProfile/profile.js"></script>

{{end}}
